@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Archivo', sans-serif;
}
body {
    background: #ffffff;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    z-index: 1;
}
header .logo {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}
header ul {
    position: relative;
    display: flex;
    gap: 30px;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.banner::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 10000;
    background: linear-gradient(to top, #fff 15%, transparent);
}
.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section#about {
    position: relative;
    padding: 100px;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .textBx{
    max-width: 50%;
}
.container .textBx .title {
    font-size: 2.5em;
    color:#3d3d3d;
}
.container .textBx .title1 {
    margin-top: 15px;
    font-size: 1.6em;
    color:#3d3d3d;
}
.container .textBx .title2 {
    margin-top: 15px;
    font-size: 1.1em;
    color:#3d3d3d;
}
.container .textBx p{
    font-size: 1.1em;
    color:#3d3d3d;
}
.container .textBx li{
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1em;
    color:#3d3d3d;
}

.imgBx {
    width: 40%;
    box-shadow: 10px 10px 50px;
}
.imgBx img {
    max-width: 100%;
} 

.btn {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background: #3d3d3d;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.imgBx1 {
    width: 50%;
    height: 100%;
    box-shadow: 10px 10px 50px;
}
.imgBx1 img {
    max-width: 100%;
    max-height: 100%;
} 
.imgBx1::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 10000;
}

.container .textBxA{
    padding-left: 100px;
    padding-right: 40px;
    max-width: 50%;
}
.container .textBxA .title {
    font-size: 2.5em;
    color:#3d3d3d;
}
.container .textBxA .title1 {
    margin-top: 15px;
    font-size: 1.6em;
    color:#3d3d3d;
}
.container .textBxA .title2 {
    margin-top: 15px;
    font-size: 1.1em;
    color:#3d3d3d;
}
.container .textBxA p{
    font-size: 1.1em;
    color:#3d3d3d;
}
.container .textBxA li{
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1em;
    color:#3d3d3d;
}

table{
    border: solid 2.5px #3d3d3d;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
}
table tr th{
    padding: 0.6em;
    border: solid 2px #3d3d3d;
    background-color: #d3d3d3;
    color: #3d3d3d;
    font-size: 1.5em;
}
table tr td {
    padding: 0.6em;
    border: solid 2px #3d3d3d;
    color: #3d3d3d;
    font-size: 1.1em;
}

* {
    box-sizing: border-box;
  }

  h2[style*="text-align:center"] {
    color: #3d3d3d;
    font-size: 2.2em;
    padding: 50px;
}
  
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    color:#3d3d3d;
  }
  
  .price {
    list-style-type: none;
    border: 2.5px solid #3d3d3d;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 10px 10px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 2.5px solid #3d3d3d;
    padding: 20px;
    font-weight: 500;
    text-align: center;
  }
  
  .price .grey {
    background-color: #d3d3d3;
    font-weight: 800;
    font-size: 20px;
  }
  .price .dark {
    background-color: #aaaaaa;
    font-size: 20px;
  }
  
  .button {
    background-color: #3d3d3d; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
    #reserve {
        width: 100%; 
    }
  }

  ul.price li.header {
    width: 100%; 
    height: 415px; 
    background-color: #3d3d3d; 
    position: relative;  
}

ul.price li.header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}


#reserve {
    width: 90%; 
    max-width: 500px; 
    margin: 0 auto; 
    padding: 50px; 
}
 
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    color: #3d3d3d;
    display: block;
    font-family: 'Archivo';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    color: #3d3d3d;
    border-radius: 2px;
    border: 2px solid #3d3d3d;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Archivo';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px solid #3d3d3d;
  }
  
  button {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background: #3d3d3d;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  button:hover {
    border: 2px solid black;
  }